<p> My name is {{ 'Jack' | uppercase }} </p>
<p> Date: {{ today }} </p>
<p> Date: {{ today | date:'dd/MM/yyyy' }} </p>
<button (click)="increment()"> Add one day! </button>


<!-- Over here we are testing a custom PIPE WHICH filters list elements -->

<div>
    <label for="thing_name"> Thing Name </label>
    <input placeholder="new thing" type="text" #thingName>
    <button (click)="addItem(thingName.value); thingName.value=''">
        add
    </button>
  </div>

  <div>
    <label for="things_name"> Search thing: </label>
    <input id="things_name" placeholder="thing name"
            type="text" [(ngModel)]="pattern">
  <div>

  <h4> Stuff list </h4>
  <ul>
    <li *ngFor="let thing of stuff | filter:'name':pattern; let i = index">
      {{ i+1 }}) {{ thing.name }}
    </li>
  </ul>